<% layout('layout') %>
<link rel="stylesheet" href="/css/anyaIntro.css"/>
<script src="/js/anyaOs.js"></script>
<div class="image">
    <img src = "" width=100% id="dialog">
    <div class = "content" id="text" value = ""></div>
</div>