<% layout('layout') %>
<link rel="stylesheet" href="/css/finalPage.css"/>
<script src="/js/finalPage.js"></script>
<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
/>
<div class = "demo-dot1" >
    <span id ="star1">⭐</span>
</div>
<div class = "demo-dot2">
    <span id ="star1">⭐ </span>
</div>
<div class = "demo-dot3">
    <span id ="star1">⭐ </span>
</div>
<div class = "demo-dot4" >
    <span id ="star1">⭐ </span>
</div>
<div class = "demo-dot5">
    <span id ="star1">⭐ </span>
</div>
<div class = "demo-dot6">
    <span id ="star1">⭐ </span>
</div>
<div class = "demo-dot7" >
    <span id ="star1">⭐ </span>
</div>
<div class = "demo-dot8">
    <span id ="star1">⭐ </span>
</div>
<div id = "text"></div>
