<% layout('layout') %>
<link rel="stylesheet" href="/css/findAnyaGame.css"/>
<link rel="stylesheet" href="/css/button.css"/>
<link rel="stylesheet" href="/css/modal.css"/>
<link rel="stylesheet" href="/css/slogan.css"/>
<audio src="/music/STRIX.mp3" autoplay loop id="myAudio"></audio>
<script src="/js/findAnyaGame.js" ></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
<div class="slogan">
    請找出藏起來的安妮亞
</div>
<div class="getStar">
    您獲得一顆星星⭐<br>
    (ゝ∀･)⌒☆
</div>
<img id="anya1" src="/img/findAnya.png">
<img id="anya2" src="/img/findAnya.png">
<img id="anya3" src="/img/findAnya.png">
<img id="anya4" src="/img/findAnya.png">
<img id="anya5" src="/img/findAnya.png">
<div class="modal" data-backdrop="static" tabindex="-1" role="dialog" id="myAlertModal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content bg-light text-black">
            <div class="modal-header">
                <h5 class="modal-title">恭喜過關🎉</h5>
            </div>
            <div class="modal-body">
                太棒了！你成功找出所有安妮亞<br><br>
                <i>按下按鈕繼續進行遊戲</i>
            </div>
            <div class="modal-footer">
                <a href="/walkTheDog"><button type="button">遛狗</button></a>
            </div>
        </div>
    </div>
</div>