<% layout('layout') %>
<link rel="stylesheet" href="/css/findAnyaGame.css"/>
<script src="/js/findAnyaGame.js" ></script>
<div class="slogan">
    請找出藏起來的安妮亞
</div>
<img id="anya1" src="/img/findAnya.png">
<img id="anya2" src="/img/findAnya.png">
<img id="anya3" src="/img/findAnya.png">
<img id="anya4" src="/img/findAnya.png">
<img id="anya5" src="/img/findAnya.png">