<% layout('layout') %>
<link rel="stylesheet" href="/css/index.css"/>
<script src="/js/index.js"></script>
<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
<audio src="/music/mixed_nuts.mp3" autoplay loop id="myAudio"></audio>
<div id = "text">
    <h1 class = "animate__animated animate__backInUp">⭐Anya 大冒險RPG⭐</h1>
</div>
