<% layout('layout') %>
<link rel="stylesheet" href="/css/index.css"/>
<script src="/js/start.js" ></script>
<audio src="/music/mixed_nuts.mp3" autoplay loop></audio>
<div>
    <p>Anya 大冒險 RPG</p>
    <a href="/loader"><img src="/img/start_btn.png"></a>
</div>
