<% layout('layout') %>
<link rel="stylesheet" href="/css/levelmap.css"/>
<div class="container">
    <br>
    <div class="row">
        <h1>關卡地圖</h1>
    </div>
    <div class="row"> <!--row1-->
        <div class="col-1"></div>
        <div class="col-1">
            <label>算數學 - 簡單</label>
            <img id="img" src="/img/levelmap/2easymath.png">
        </div>
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-1">
            <label>你找不到安妮亞</label>
            <img id="img" src="/img/levelmap/6anyaos.png">
        </div>
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-1">
            <label>去哪裡玩鴨</label>
            <img id="img" src="/img/levelmap/10playwhere.png">
        </div>
    </div>
    <div class="row"> <!--row2-->
        <div class="col-1">
            <label>洛伊德自我介紹</label>
            <img id="img" src="/img/levelmap/1forger.png">
        </div>
        <div class="col-1">
            <label>算數學 - 困難</label>
            <img id="img" src="/img/levelmap/3hardmath.png">
        </div>
        <div class="col-1"></div>
        <div class="col-1">
            <label>約兒自我介紹</label>
            <img id="img" src="/img/levelmap/5yor.png">
        </div>
        <div class="col-1">
            <label>跟彭德出乃玩</label>
            <img id="img" src="/img/levelmap/7walkdog.png">
        </div>
        <div class="col-1"></div>
        <div class="col-1">
            <label>彭德自我介紹</label>
            <img id="img" src="/img/levelmap/9bond.png">
        </div>
        <div class="col-1">
            <label>星力考驗</label>
            <img id="img" src="/img/levelmap/11starexam.png">
        </div>
    </div>
    <div class="row"> <!--row3-->
        <div class="col-1"></div>
        <div class="col-1">
            <label>洛伊德給獎勵</label>
            <img id="img" src="/img/levelmap/4loyidaward.png">
        </div>
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-1">
            <label>約兒給獎勵</label>
            <img id="img" src="/img/levelmap/8yoraward.png">
        </div>
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-1">
            <label>星力考驗(plus+)</label>
            <img id="img" src="/img/levelmap/12starexamplus.png">
        </div>
    </div>
</div>


<!--
<div class="row">
    <div class="col-5"></div>
    <div class="col-2">
        <label>洛伊德自我介紹</label>
        <img id="img" src="/img/levelmap/1forger.png">
    </div>
    <div class="col-5"></div>
</div>
<br>
<div class="row">
    <div class="col-3"></div>
    <div class="col-2">
        <label>算數學 - 簡單</label>
        <img id="img" src="/img/levelmap/2easymath.png">
    </div>
    <div class="col-2">
        <label>算數學 - 困難</label>
        <img id="img" src="/img/levelmap/3hardmath.png">
    </div>
    <div class="col-2">
        <label>洛伊德給獎勵</label>
        <img id="img" src="/img/levelmap/4loyidaward.png">
    </div>
    <div class="col-3"></div>
</div>
<br>
<div class="row">
    <div class="col-5"></div>
    <div class="col-2">
        <label>約兒自我介紹</label>
        <img id="img" src="/img/levelmap/5yor.png">
    </div>
    <div class="col-5"></div>
</div>
<br>
<div class="row">
    <div class="col-3"></div>
    <div class="col-2">
        <label>你找不到安妮亞</label>
        <img id="img" src="/img/levelmap/6anyaos.png">
    </div>
    <div class="col-2">
        <label>跟彭德出乃玩</label>
        <img id="img" src="/img/levelmap/7walkdog.png">
    </div>
    <div class="col-2">
        <label>約兒給獎勵</label>
        <img id="img" src="/img/levelmap/8yoraward.png">
    </div>
    <div class="col-3"></div>
</div>
-->