<% layout('layout') %>
<link rel="stylesheet" href="/css/levelmap.css"/>
<div class="container">
    <br>
    <div class="row">
        <h1>關卡地圖(Level Map)</h1>
    </div>
    <br>
    <div class="row"> <!--row1-->
        <div class="col"></div>
        <div class="col">
            <label>算數學 - 簡單</label>
            <img class="level" src="/img/levelmap/2easymath.png">
        </div>
        <div class="col-1"></div>
        <div class="col"></div>
        <div class="col">
            <label>你找不到安妮亞</label>
            <img class="level" src="/img/levelmap/6anyaos.png">
        </div>
        <div class="col-1"></div>
        <div class="col"></div>
        <div class="col">
            <label>去哪裡玩鴨</label>
            <img class="level" id="foreverlight" src="/img/levelmap/10playwhere.png">
        </div>
    </div>
    <br>
    <div class="row"> <!--row2-->
        <div class="col">
            <label>洛伊德自我介紹</label>
            <img class="level" id="foreverlight" src="/img/levelmap/1forger.png">
        </div>
        <div class="col">
            <label>算數學 - 困難</label>
            <img class="level" src="/img/levelmap/3hardmath.png">
        </div>
        <div class="col-1">
            <label></label>
            <img id="point" src="/img/levelmap/point.png">
        </div>
        <div class="col">
            <label>約兒自我介紹</label>
            <img class="level" id="foreverlight" src="/img/levelmap/5yor.png">
        </div>
        <div class="col">
            <label>遛彭德</label>
            <img class="level" src="/img/levelmap/7walkdog.png">
        </div>
        <div class="col-1">
            <label></label>
            <img id="point" src="/img/levelmap/point.png">
        </div>
        <div class="col">
            <label>彭德自我介紹</label>
            <img class="level" id="foreverlight" src="/img/levelmap/9bond.png">
        </div>
        <div class="col">
            <label>星力考驗</label>
            <img class="level" src="/img/levelmap/11starexam.png">
        </div>
    </div>
    <br>
    <div class="row"> <!--row3-->
        <div class="col"></div>
        <div class="col">
            <label>洛伊德給獎勵</label>
            <img class="level" src="/img/levelmap/4loyidaward.png">
        </div>
        <div class="col-1"></div>
        <div class="col"></div>
        <div class="col">
            <label>約兒給獎勵</label>
            <img class="level" src="/img/levelmap/8yoraward.png">
        </div>
        <div class="col-1"></div>
        <div class="col"></div>
        <div class="col">
            <label>星力考驗(plus+)</label>
            <img class="level" src="/img/levelmap/12starexamplus.png">
        </div>
    </div>
</div>
<div class="end">
    <img class="level" src="img/levelmap/end.png">
</div>