<% layout('layout') %>  
<meta http-equiv="refresh" content="3; url= /recapVideo">
<link rel="stylesheet" href="/css/loader.css"/>
<audio src="/music/mixed_nuts.mp3" autoplay loop></audio>
<div class="loader">
    <span></span>
    <span></span>
    <span></span>
</div>
<div id="jumpTo"></div>