<% layout('layout') %>
<link rel="stylesheet" href="/css/level1.css"/>
<!--jQuery--> 
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="/js/loyidIntro.js"></script>
<div class="image">
    <img src = "" width=100% id="dialog">
    <div class = "content" id="text" value = ""></div>
    <a href="/loader" class="button1"><button id="button1" value=""></button></a>
    <a href="/loader" class="button2"><button id="button2" value=""></button></a>
    <a href="/loader" class="button3"><button id="button3" value=""></button></a>
    <a href="/loader" class="button4"><button id="button4" value=""></button></a>
</div>