<% layout('layout') %>
<link rel="stylesheet" href="/css/buttonPage.css"/>
<link rel="stylesheet" href="/css/button.css"/>
<audio src="/music/色彩.mp3" autoplay loop id="myAudio"></audio>
<script src="/js/loyidAward.js"></script>
<script>
    window.console = window.console || function(t) {};
</script>
<script>
    if (document.location.search.match(/type=embed/gi)) {
        window.parent.postMessage("resize", "*");
    }
</script>
<div class="image" id="display">
    <img src = "" width=100% id="dialog">
    <div class = "content" id="text" value = ""></div>
</div>