<% layout('layout') %>  
<meta http-equiv="refresh" content="12; url= /anyaIntro">
<link rel="stylesheet" href="/css/iframe.css"/>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
<div class = "iframe embed-responsive embed-responsive-16by9">
    <iframe id="recap" width="600" height="450" src="https://www.youtube.com/embed/l1uINfUshjc?clip=Ugkx8RnmcHDtSPoKRTujSlQoXAGvyyyR5x-l&amp;clipt=EMR3GKnYAQ&autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>