<% layout('layout') %>  
<meta http-equiv="refresh" content="12; url= /findAnyaGame">
<!--<meta http-equiv="refresh" content="12; url= /anyaIntro">-->
<link rel="stylesheet" href="/css/iframe.css"/>
<div class = "iframe">
    <iframe width="1920" height="1080" src="https://www.youtube.com/embed/l1uINfUshjc?clip=Ugkx8RnmcHDtSPoKRTujSlQoXAGvyyyR5x-l&amp;clipt=EMR3GKnYAQ&autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>