<% layout('layout') %>
<link rel="stylesheet" href="/css/section3.css"/>
<link rel="stylesheet" href="/css/button.css"/>
<script>
    window.console = window.console || function(t) {};
</script>
<script>
    if (document.location.search.match(/type=embed/gi)) {
        window.parent.postMessage("resize", "*");
    }
</script>

<div class="container">
    <div class="row">
        <div class="slogan">
            要乖乖聽主人的話<br>
            不可以7負 PENGUIN (•ө•)
        </div>
    </div>
    <div class="row">
        <div class="col-5"></div>
        <div class="col-2 backlevelmap">
            <a href="/levelMap"><button><span>回到關卡地圖</span></button></a>
        </div>
        <div class="col-5"></div>
    </div>
</div>

