<% layout('layout') %>
<link rel="stylesheet" href="/css/WalkTheDog.css"/>
<!--jQuery--> 
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="/js/WalkTheDog.js"></script>
<div>
    <img id = "image1" src="/img/WalkTheDog.png">
    <img id = "image2" src="/img/bone.png">
    <img id = "image3" src="/img/peanut.png">
</div>