body {
    background-color: black;
    background-image: url("/img/livingroom.jpg");
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    background-attachment: fixed;
}