body {
    background-color: black;
    background-image: url("/img/levelmap/levelmap.jpg");
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    background-attachment: fixed;
}

div {
    text-align: center;
}

img {
    width: 150px;
    height: 150px;
}

.level:hover {
    transform:scale(1.2,1.2);
}

label {
    color:white;
    font-size:20px;
}

h1 {
    color:white;
    font-size: 56px;
}

#point {
    width: 120px;
    height:120px;
}

.end {
    position:fixed;
    bottom:2%;
    right:2%;
}

.end:hover::after {
    position: absolute;
    top:-45px;
    left:0;
    color: #fff;
    font-size: .8em;
    background: #346e7a;
    padding: 5px;
    border-radius: 5px;
    content: '點看看吧(・ω・)ノ';
}

#modalbody {
    color:black;
}

#star1, #star2, #star3, #star4, #star5, #star6, #star7, #star8 {
    filter: brightness(20%);
}